.appWrapper {

    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.appContainer {

    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    .logoWrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        cursor: pointer;
        gap: 10px;

        .logoicon {
            width: auto;
            height: 40px;
        }
        .logoText {
            width: auto;
            height: 30px;
            margin-top: 5px;
        }

        &:hover {
            background: $backgroundPrimary-color;
        }
    }
}
